.footer {
  font-size: var(--font-size-sm);
  text-align: center;
  line-height: 30px;
  margin: 60px 0;
}

.footer a {
  color: var(--font-color100);
}

.logo svg {
  width: 96px;
  margin-top: 10px;
}
.version {
  text-align: right;
  padding-right: 10px;
  white-space: nowrap;
}
