.login {
  width: 400px;
  margin: auto;
  transform: translateY(-25%);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon svg {
  width: 64px;
  height: 64px;
}

.button {
  flex: 1;
  justify-content: center;
}
