.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
  overflow: hidden;
  height: 100px;
}

.info {
  display: flex;


  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  min-height: 0;

  /* justify-content: center; */
}

.activeLink {
  font-size: 0.8em;
}

@media only screen and (max-width: 992px) {
  .active {
    justify-content: flex-start;
  }

  a.link {
    display: none;
  }
}
